@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Nova+Mono');

.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  height: 100vh;
}

.case {
  background-color: firebrick;
  max-height: 450px;
  flex: 0 1 400px;
  margin: 50px 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  border-radius: 2%;
}

.screenWrapper {
  flex: 0 1 100%;
  margin-top: 10px;
  background-color: pink;
}

.screen {
  font-family: 'Nova Mono', monospace;
  font-size: 2.5rem;
  text-align: right;
  background-color: lightblue;
  padding: 10px;
}

.screen aside {
  font-size: 0.5em;
  overflow: hidden;
  max-width: 380px;
  direction: rtl;
}

.keypad {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    width: 100%;
    height: 85%;
    padding: 10px;
}

.button {
  border: 1px solid #000;
  padding: 5px;
  margin: 5px;
  flex: 1 1 25%;
  height: 45px;
  font-family: 'Josefin Sans', Arial, sans-serif;
  letter-spacing: 0.1em;
  font-size: 1.1rem; 
  line-height: 2em;
  border-radius: 15%;
  background-color: honeydew;
}

.row5 > .button[data-value="="] {
  flex: 1 1 50%;
  background-color: darkcyan;
  color: honeydew;
}

.row1 > .button[data-value="AC"],
.row1 > .button[data-value="C"] {
  background-color: slategrey;
  color: honeydew;
}

.button-row {
  display: flex;
  min-width: 200px;
}

